<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.HiddenBar">
        <activity android:name=".LoginActivity"></activity>
        <activity
            android:name=".Splash_Activity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
        </activity>
        <activity
            android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".InfoUser"></activity>
        <activity android:name=".PolicyActivity"></activity>



    </application>

</manifest>